# Default gromit-mpx configuration 
# taken from  Totem's telestrator mode config
# added default entries

"red Pen" = PEN (size=5 color="red");
"blue Pen" = "red Pen" (color="blue");
"yellow Pen" = "red Pen" (color="yellow");	
"green Marker" = PEN (size=6 color="green" arrowsize=2);

"Eraser" = ERASER (size = 300);					

"default" = "red Pen";
"default"[SHIFT] = "blue Pen";
"default"[CONTROL] = "yellow Pen";
# 3 = prawy klawisz myszy
"default"[3] = "green Marker";
"default"[ALT] = "Eraser";